<!-- signup.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
</head>

<body>
    <div id="particles-js" class="snow"></div>

    <!-- Flash message -->
    <% if (message.length > 0) { %>
        <div id="flash-message" class="flash-message alert alert-primary alert-dismissible show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      
        <script>
          // Add JavaScript to hide the flash message after 2 seconds
          setTimeout(() => {
            var flashMessage = document.getElementById('flash-message');
            flashMessage.classList.add('fade');
            setTimeout(() => {
              flashMessage.style.display = 'none';
            }, 500); // 500 milliseconds fade transition duration
          }, 2000);
        </script>
      <% } %>
      

    <main>
        <div class="left-side"></div>

        <div class="right-side">
            <form method="post" action="/submit">
                <h4>LogIn</h4>
                <div class="or"></div>

                <label for="email">Email</label>
                <input type="text" placeholder="Enter Email" name="email" required />

                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required />

                <button type="submit" class="login-btn">Sign in</button>
                <div class="links">
                    <a href="/forget">Forgot password?</a>
                    <a href="/register">Do not have an account?</a>
                </div>
            </form>
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>